[2015-11-10 12:24] janek-warchol opened #1 "ls coloring ideas"
Though it's really a side-effect of unnatural terminal color bindings (i.e. light gray is put in light cyan color slot), I really like how the coloring in `ls` output looks like with solarized color palette: most filetypes are highlighted with different shades of gray instead of actual colors.  This makes them look more restrained than default settings.  I think it would be nice to use this consci

[2016-02-16 14:47] janek-warchol opened #2 "design good color scheme for vimdiff"
As @gszpura said, the default colors suck - and I do agree with him :)

[2016-02-16 14:51] janek-warchol commented on #2
Some resources:
http://stackoverflow.com/questions/2019281/load-different-colorscheme-when-using-vimdiff#2019401
https://groups.google.com/forum/#!topic/vim_use/IERXsR4WVFk

[2016-02-16 19:07] janek-warchol commented on #2
Ok, this is my attempt at more sane highlighting for vimdiff:

[code]

It will work best if the color palette of the terminal is set to selenized, but should also produce acceptable results with other palettes.

@gszpura can you try it?

[2016-03-01 13:42] janek-warchol commented on #2
BTW, maybe this should be placed in sensible-dotfiles?

[2016-03-10 11:23] janek-warchol opened #4 "Change titlebar colors in terminator config"
The default colors are ugly - selenized configuration should use some selenized colors for them.  Probably cyan for focused and blue for receiving.

[2016-03-21 21:53] #4 closed

[2016-03-22 10:51] janek-warchol opened #5 "Keep default terminator palette in config for comparison?"

[2016-03-23 12:12] janek-warchol opened #6 "some dircolors are wrong"
directory with mod 777 is unreadable.

[2016-03-23 12:18] piotrkasprzyk opened #7 "Midnight Commander looks very bad"
When using selenized with Midnight Commander (mc) contrast is very poor, making it almost unusable.
![selenized](https://cloud.githubusercontent.com/assets/14312755/13984916/93bc0e52-f0f9-11e5-9195-24def43a804d.png)

[2016-03-23 12:30] janek-warchol commented on #7
Indeed.  I will try to write a skin for mc that changes its background (or you can send me a Pull Request).  In the meantime you can use `mc -b`.

[2016-03-26 10:24] #7 closed

[2016-04-11 09:48] janek-warchol opened #8 "Strange difference in LAB -> AppleRGB conversion between colormath and Photoshop"
@gtaylor this might interest you.

When I switched from Photoshop to python.colormath as the tool for doing color space conversions (see commit 5189cb9f0d092c456b73bdf2a6a4abd2c0fdf6e3), I noticed one strange discrepancy in conversion results: Photoshop converts Lab(63, 66, 44) to `#f63e3d` (in AppleRGB) while python.colormath yields `#ff3e3d`.

What's most surprising, when I converted Lab(55, 66,

[2016-04-11 11:02] janek-warchol commented on #7
@big Just for reference, here's how Midnight Commander looks when you set terminal palette to Selenized medium and use new Selenized skin for mc:
![midnight-commander-selenized-0 5](https://cloud.githubusercontent.com/assets/1368508/14425150/5f01e0e2-ffe5-11e5-8465-108b89bc6009.png)

And here's how it looked by default with xterm palette:
![midnight-commander-xterm](https://cloud.githubusercontent

[2016-04-12 07:49] #5 closed

[2016-05-02 13:53] janek-warchol commented on #6
![screenshot-area-2016-05-02-142829](https://cloud.githubusercontent.com/assets/1368508/14956036/f387eb78-107d-11e6-8e27-bae83a76682e.png)

[2016-05-02 14:40] #6 closed

[2016-05-02 14:44] janek-warchol commented on #1
Note: it may be a good idea to use https://github.com/seebi/dircolors-solarized

[2016-05-14 11:01] janek-warchol opened #10 "Add support for Intellij IDEs"
Use [solarized config](https://github.com/jkaving/intellij-colors-solarized) as a base.

- fix colors that aren't from solarized palette
  - variable definition and use instances
  - strings in python
- create a variant of selenized with monotones based on darkula scheme
- adjust colors that don't work well

[2016-05-14 11:07] jan-warchol opened #11 "Adjust monotones lightness to use proportions rather than fixed differences"
Currently secondary content lightness is defined as foreground lightness - 15 units.  Considering that different variants of Selenized have different contrast (between 50 and 60) it makes more sense to define  the contrast of secondary content color as a fraction of main contrast.

[2016-05-14 11:10] jan-warchol opened #12 "Add test with git graph branches in multiple colors"

[2016-05-14 11:10] janek-warchol opened #13 "factor LAB"

[2016-05-14 11:11] jan-warchol opened #14 "factor LAB coordinate calculation out of converter script"

[2016-05-14 13:07] jan-warchol opened #15 "Migrate test profiles to Konsole"
Konsole allows changing bold fg color (unlike terminator), so it's better for preparing screenshots.

[2016-05-14 13:08] jan-warchol opened #16 "Add colorfiller template for Konsole"

[2016-05-14 13:09] jan-warchol opened #17 "Let colorfiller create new palettes from sRGB"
(i.e. no LAB coordinates necessary)

[2016-05-14 13:11] janek-warchol commented on #13
Created mistakenly.

[2016-05-14 13:11] #13 closed

[2016-05-14 13:23] janek-warchol opened #18 "Add simple scripts for converting single color between spaces"

[2016-05-17 13:41] janek-warchol opened #19 "add xterm configuration"
Should be similar to urxvt.

[2016-05-17 20:11] #18 closed

[2016-05-27 12:56] #19 closed

[2016-05-29 20:00] janek-warchol opened #21 "Use Jinja for templates"
This should help shorten them (by using jinja's for construct).

[2016-06-08 10:24] Tade0 opened #22 "Add Fish Shell support."
Add support for Fish Shell - if it's possible that is.
https://fishshell.com

[2016-06-11 19:41] janek-warchol commented on #22
What do you mean by supporting Fish shell? Generally speaking, if you configure your terminal emulator to use selenized colors it should work for whatever shell you set.

I mean, which colors get actually displayed is a property of emulator, not shell - unless I'm mistaken. Can you show a simple example of what would you like to have?

[2016-06-11 19:54] jan-warchol opened #23 "Add colorfiller template for README value listing"
It would be the most natural way of creating that page.

[2016-10-30 21:28] #14 closed

[2016-10-30 22:07] #23 closed

[2016-11-21 01:59] jan-warchol commented on #17
Fixed as of eca01be

[2016-11-21 01:59] #17 closed

[2016-11-21 01:59] jan-warchol commented on #16
Fixed in 5a759ba

[2016-11-21 01:59] #16 closed

[2016-11-21 02:03] #15 closed

[2016-11-21 02:04] jan-warchol commented on #11
Fixed in ebe2a1e (version 0.7).

[2016-11-21 02:04] #11 closed

[2016-11-21 02:12] #12 closed

[2017-01-06 06:10] davedorm opened #26 "Tilda"
Brilliant! But I use Tilda as my main terminal. Can you work your magic there?

[2017-01-06 10:11] jan-warchol commented on #26
Thanks! I should be able to add support for Tilda. Could you send me an
example configuration file with some other palette?

6 sty 2017 07:10 "Manah Manah" <notifications@github.com> napisał(a):

[2017-01-08 02:02] davedorm commented on #26
Yep. Here you go!
[config_2.txt](https://github.com/jan-warchol/selenized/files/691837/config_2.txt)

[2017-01-08 19:37] jan-warchol commented on #26
Thanks! I see that Tilda stores color configuration in non-conventional way, so it may be a couple days until I'll have enough time to do this properly, but I will do it :-)

[2017-01-13 19:00] jan-warchol commented on #26
This pull request should do it: https://github.com/jan-warchol/selenized/pull/27

@davedorm can you test it please?

[2017-01-18 11:46] jan-warchol commented on #26
@davedorm ping :) Did you try the config from `tilda-support` branch?

[2017-02-16 02:46] skalyan91 opened #28 "Emacs support"
Please add support for Emacs.

Also, it would be nice to have a GTK theme along the lines of [Numix Solarized](http://bitterologist.deviantart.com/art/Numix-Solarized-417575928), but this is of course not a high priority.

[2017-02-16 07:17] jan-warchol commented on #28
Hi @skalyan91 !

I will be delighted to add support for Emacs :-) However, I don't have any experience using it, so I'll need your help. Do you have a simple example Emacs config that I could base my work on? I've looked at [solarized for Emacs](https://github.com/bbatsov/solarized-emacs/blob/master/solarized.el), but it's quite complex and I'd rather start with something simpler.

[2017-02-16 07:18] jan-warchol commented on #28
PS GTK theme would be great indeed, but I want to tackle terminals and text editors/IDEs first.

[2017-02-17 10:23] jan-warchol opened #29 "Support for mate terminal"
It is configured similarly to gnome-terminal, but config paths are different.

1. dconf path `/org/mate/terminal/profiles`
2. adding profile to list `/org/mate/terminal/global/profile-list`

[2017-02-17 10:24] jan-warchol commented on #29
cc @kwapik

[2017-02-17 10:54] kwapik commented on #29
Also `/org/mate/terminal/global/default-profile` could be updated.

[2017-02-19 13:36] milimetr88 opened #30 "Notepad++: Second possible path to .xml file (%USERPROFILE%)"
If AppData folder is used during the installation, the themes can be found at:
"%USERPROFILE%\AppData\Roaming\Notepad++\themes\"
(this is my case :) )

[2017-03-03 05:41] skalyan91 commented on #28
Sorry for the delay in replying.

A simple way of generating an Emacs color theme would be to use an online generator such as http://emacs-theme-creator.appspot.com.

Once you've created the basic theme, then you could gradually expand it by referring to existing themes such as https://github.com/chaoflow/.emacs.d/blob/master/tango-theme.el. (I agree that solarized for Emacs has too many bells and

[2017-03-06 15:33] jan-warchol commented on #28
Hi!

sorry, somehow I only saw your message today. Thanks for the links, they are very helpful - I'll put up a first version of the emacs config as soon as I have some spare time (which most probably means this weekend).

[2017-03-06 21:43] skalyan91 commented on #28
Thanks! Looking forward to it.

[2017-03-10 11:30] Envielox opened #32 "Aptitiude looks bad"
Gray on gray
![screenshot from 2017-03-10 12-28-07](https://cloud.githubusercontent.com/assets/1052735/23793817/657325c2-058d-11e7-8c50-352eca773a8e.png)

[2017-03-10 11:45] Envielox opened #33 "Vim suggestions look bad"
![screenshot2](https://cloud.githubusercontent.com/assets/1052735/23794238/778feaae-058f-11e7-9743-8722e50ce6d2.png)

[2017-03-13 22:44] jan-warchol commented on #28
Hi @skalyan91,

sorry for delay! I've generated scheme files using theme-creator and pushed an initial version to `devel` branch (in `emacs/` dir). Can you try it?

[2017-03-13 22:47] jan-warchol commented on #28
PS I see now that theme-creator adds some colors on its own to the resulting theme file (i.e. colors that were not input in the web form). I'll have to figure out what they are doing.

[2017-03-14 09:28] etam opened #34 "emacs issues"
1. Remove spaces from theme names
2. It looks like this:
Gtk:
![emacs-selenized-dark-gtk](https://cloud.githubusercontent.com/assets/220752/23893065/64eb4874-089d-11e7-888c-56c455785979.png)
Konsole:
![emacs-selenized-dark-konsole](https://cloud.githubusercontent.com/assets/220752/23893066/64eedf48-089d-11e7-9082-b83c3a0cfd88.png)

How to test:
- put *.el files somewhere in the ~/.emacs.d
- runnin

[2017-03-17 06:57] skalyan91 commented on #28
Sorry for the delay. Yes, the theme looks pretty good! See below:

<img width="1280" alt="screen shot 2017-03-17 at 5 51 19 pm" src="https://cloud.githubusercontent.com/assets/2990272/24032107/769f3b26-0b3a-11e7-9331-7fb972bd6834.png">

Just a couple of points:
1. The modeline needs a bit of work (particularly under Spacemacs, which I’m using): the border should be removed, and the gray text shoul

[2017-03-17 17:50] jan-warchol commented on #28
I'm glad you like it!

Yes, your comments make sense. Unfortunately I'll be offline for the whole
weekend and then I'll have a busy week, so probably I won't be able to dig
into it until next weekend.

But if you manage to find which variables to override it would be most
welcome :-) feel free to send me a PR, I should manage to take care of it
within 1-2 days.

All the best!

17 mar 2017 07:57 "S

[2017-04-26 07:03] AwesomePatrol opened #35 "invisible cursor in vim"
I am using dark urxvt theme and selenized color scheme in vim.

Following pictures were taken on vanilla themes except the background color of line number column.

![right_parent](https://cloud.githubusercontent.com/assets/8083990/25421790/aeb14f2a-2a5e-11e7-9e6c-141e88a80301.png)
Cursor on the right parentheses of `main`.

![right_bracket](https://cloud.githubusercontent.com/assets/8083990/254217

[2017-04-27 17:18] jan-warchol commented on #35
Thanks for the report! I'll debug this when I'll have some spare time during May holidays :)

[2017-05-24 11:58] jan-warchol opened #36 "mismatch cases"
From Karol:
w Twoim repo jest selenized/vim/selenized.vim
Proponuję zmienić mu nazwę na "Selenized.vim", żeby pasowała do nazwy w pliku, bo inaczej na ubuntu wariuje - jest już schemat "selenized" i ładuje pół na pół

vim 8.0

[2017-08-03 08:06] poeyashi opened #37 "Tilix support"
It would be great to have support for Tilix terminal.

To use this theme in Tilix, you need to do something like:

1. `dconf dump /com/gexperts/Tilix/ > tilix.conf`
2. Edit tilix.conf and replace options:
[code]
3. Load configuration again with:
`dconf load /com/gexperts/Tilix/ < tilix.conf`

I don't know currently how to make it better, it's just a quick and dirty configuration that works.

[2017-08-04 14:28] poeyashi commented on #37
Seems like it should be enough to put gist content in ~/.config/tilix/schemes/selenized.json.

https://gist.github.com/poeyashi/95058e97c23f09078ae9115eae77a8d8

[2018-09-17 06:54] DavidNemeskey opened #38 "Palette instead of profile in Gnome Terminal"
I've just installed Selenized in Gnome Terminal, and it looks very nice indeed. My only gripe is that the installer creates a new profile, instead of just a palette. So in order to be able to switch between the four themes, I need four profiles, each of them identical except for the colors.

I also have Solarized installed (from some source, I don't remember where), and it only installed a palette

[2018-11-03 14:42] DavidNemeskey opened #39 "Do not reverse MatchParen"
It is very easy to mix up the cursor and the MatchParen highlighting; especially when writing code with lots of brackets (e.g. a regex). Please make the MatchParen style bold, not reverse.

Solarized had [a very similar issue](https://github.com/lifepillar/vim-solarized8/issues/11), which they have fixed already. Such a fix would definitely improve Selenized for me.

[2019-04-28 20:45] jan-warchol commented on #37
Fixed in !40

[2019-04-28 20:46] jan-warchol commented on #37
Fixed in https://github.com/jan-warchol/selenized/pull/40

[2019-04-28 20:46] #37 closed

[2019-06-09 11:34] homocomputeris opened #44 "What are br_ colors?"
The palettes have br_* colors.
What is their usecase?

[2019-08-04 06:37] dngray opened #47 "Vim colorscheme, separate repo, togglebg, 24bit RGB"
I am thinking this could do with some work:

1. Available in a separate repository ie like [altercation/vim-colors-solarized](https://github.com/altercation/vim-colors-solarized) the reason for doing this is it can then easily be used by a plugin manager (vimplug etc).

2. I would consider modifying the [togglebg](https://github.com/altercation/vim-colors-solarized/blob/master/autoload/togglebg.vi

[2019-08-05 16:14] dngray opened #49 "Colorized MAN pages ie LESS_TERMCAP_so"
I decided to adapt [solarized-man.plugin.zsh](https://github.com/zlsun/solarized-man/blob/master/solarized-man.plugin.zsh) however I am having trouble with `LESS_TERMCAP_so` getting that to look like the solarized theme.

I read [this guide](https://boredzo.org/blog/archives/2016-08-15/colorized-man-pages-understood-and-customized) hoping it would help. Here's what I have so far:

[code]

![156502

[2019-08-06 05:01] dngray commented on #49
Alternatively using the [terminal codes](https://github.com/jan-warchol/selenized/blob/master/whats-wrong-with-solarized.md#problems-with-implementation) the nearest I could get was:

[code]

Which resulted in:

![1565067478](https://user-images.githubusercontent.com/48640805/62512369-3e3d5700-b807-11e9-8423-c7385fd5109c.png)

[2019-08-06 05:34] dngray commented on #49
[code]

This looks nice too:

![1565069468](https://user-images.githubusercontent.com/48640805/62513470-b7d74400-b80b-11e9-8ef9-1acea447bd0b.png)

Curious to know what one you think looks best @jan-warchol

[2019-08-06 05:42] dngray commented on #49
Looks okay with the other color schemes too:

![1565069905](https://user-images.githubusercontent.com/48640805/62513841-e1dd3600-b80c-11e9-8475-9d9b7ef85236.png)

I don't really know what I am doing with the codes, so if it's wrong please do tell me.

[2019-08-08 08:06] jan-warchol commented on #49
Hello! Thanks for your interest, issues and pull requests - they are very welcome! :-) I'm super busy this week, but I hope to have time on Saturday, and I plan to get back to you.

[2019-08-08 08:27] kristijanhusak opened #51 "Support for Kitty terminal"
Hi,

can you add support for [Kitty](https://github.com/kovidgoyal/kitty) terminal?

[2019-08-09 15:09] dngray commented on #47
I am looking at adding a light, black, white theme to [lightline.vim](https://github.com/itchyny/lightline.vim), looks like [dark is already done](https://github.com/itchyny/lightline.vim/blob/master/autoload/lightline/colorscheme/selenized_dark.vim). In my screenshots I used Solarized for the left side (with termite), and selenized-dark skin for the right (termite).

I am thinking this vim theme

[2019-08-10 07:34] dngray commented on #1
Yes that would be a good start, looking at my comparison in Termite and using your LS_COLORS suggestion https://github.com/jan-warchol/selenized/commit/d2287118d47a4a57bbe650de455c26a53306de2d

![LS_COLORS](https://user-images.githubusercontent.com/48640805/62819145-b3c76100-bb40-11e9-8421-e67c7727137c.png)

I observed this. The solarized, with solarized LS colors looks as it should. I think selen

[2019-08-10 08:13] dngray commented on #51
Perhaps leave a config here, I don't use Kitty myself personally, but instructions or even better PR would be nice :)

It's fairly easy to make a [template](https://github.com/jan-warchol/selenized/tree/master/utils/templates) using [evaluate_template.py](https://github.com/jan-warchol/selenized/tree/master/utils#generating-config-files). You can see an [example template](https://github.com/jan-wa

[2019-08-10 10:07] dngray commented on #26
I'm not sure that Tilda is actually maintained much anymore https://github.com/lanoxx/tilda

If you have a look plenty of PRs and bugs and no commits.

I think most people that want a drop-down terminal like that these days are using Tilix. Apparently it also has  "Quake Mode" https://github.com/gnunn1/tilix/wiki/Quake-Mode

[2019-08-10 10:19] dngray commented on #22
I think fish just uses whatever your terminal has set, least that's what this indicates:

- https://fishshell.com/docs/current/index.html#variables-color
- https://stackoverflow.com/questions/42955454/fish-shell-how-can-i-customize-the-colors-for-the-autocomplete-feature
- https://github.com/oh-my-fish/oh-my-fish/blob/master/docs/Themes.md

It would require using a color theme that expects [normal

[2019-08-10 10:36] dngray commented on #21
Yes this would be good. I've used Jinja a fair bit with [Yadm](https://yadm.io) dotfile manager. An example in a [ssh_config](https://github.com/thingfox/dotfiles/blob/master/.ssh/config.tpl#L20).

For testing you could use [envtpl](https://github.com/andreasjansson/envtpl), though I think that [might be unmaintained](https://github.com/TheLocehiliosan/yadm/issues/159) in favor of [j2cli](https://

[2019-08-11 12:21] dngray commented on #51
@kristijanhusak tell me what you think.

[2019-08-12 11:53] kristijanhusak commented on #51
@dngray looks good, thanks!

[2019-08-12 21:43] jan-warchol commented on #49
I've recalled that I have this snippet in my private configuraton:

[code]

What do you think about the result, @dngray ? I like how it's not too flashy but still makes the items stand out.

[2019-08-13 06:09] #51 closed

[2019-08-13 10:08] dngray commented on #49
I guess that works if you like it to be monochrome. Mine looks prettier!

Maybe we could have "selenized-man" and "selenized-man-mono", what do you think? one thing I did notice is the background for `LESS_TERMCAP_so` does not show up if in a tty, with my configuration, but does for yours.

[2019-08-15 06:05] jan-warchol commented on #49
Yeah, perhaps we can have two variants. Another option would be to use a less contrasting colors, e.g. blue and/or cyan (I just think that red is too strong, giving sort of "in your face" impression).

One think I definitely prefer in your version is status bar. :-)

Side note: I'll be away until Monday.

[2019-08-15 06:10] jan-warchol commented on #47
Somehow I forgot to look into this one earlier - sorry!
Whoah! I see you put much thought into this <3 I definitely agree that vim scheme needs improvements, current version is quite limited. Please give me some time to it over :-)
In the meantime you may take a look at VSCode theme - I've been workinig on it recently and I'd say it's more complete than vim scheme currently.

[2019-08-15 11:03] dngray commented on #49
What do you think of this?

![tty_blue](https://user-images.githubusercontent.com/48640805/63090910-40f92400-bf4c-11e9-890c-38f1cc14ce60.png)

Looks good in a tty too, `ter-132n` too.

That's okay.

[2019-08-15 11:09] dngray commented on #47
Out of all my themes, (n)vim is the most important :grinning: (sorry emacs people).

It is the last think stopping me switching my terminal over to selenized, because I so often use it.

In the meantime you may take a look at VSCode theme - I've been workinig on it recently and I'd say it's more complete than vim scheme currently.

Will do, I kinda liked the way the solarized theme was with the co

[2019-08-17 06:25] dngray commented on #47
Ideally it would be great if we could reduce this down to one file, `selenized.vim` and the "set background" option could be used to choose between light/dark/black/white.

I would be keen to not have a truecolor version if that can be avoided.

[2019-08-17 18:40] dngray commented on #47
It may not be necessary to have a separate color scheme, maybe we can do something like [vim-solarized8](https://github.com/lifepillar/vim-solarized8), I have seen that particular 'solarized' variant used quite a lot these days.

theme does not define `guifg` and `guibg` in terminal Vim, making it unsuitable
for versions of Vim supporting true-color (i.e., 24-bit color) terminals.
Instead, this co

[2019-08-18 10:08] dngray opened #56 "Include a LICENSE"
This should include a LICENSE even if it's something as simple as MIT license, (that's what [solarized has](https://github.com/altercation/solarized/blob/master/LICENSE))

[2019-08-18 11:53] dngray commented on #47
I have started mucking around with it here:

- [vim_selenized_light_dark.colortemplate](https://github.com/dngray/vim-colortemplate/blob/pr_selenized/templates/vim_selenized_light_dark.colortemplate)
- [vim_selenized_black_white.colortemplate](https://github.com/dngray/vim-colortemplate/blob/pr_selenized/templates/vim_selenized_black_white.colortemplate)

I am a bit stuck though on the Violet and

[2019-08-19 20:46] lifepillar commented on #47
Colortemplate’s author here. Please see `:help cterm-colors` for the valid ANSI color names.

[2019-08-20 23:53] dngray commented on #47
Ah okay, so for guicolors i will just say "Orange" and "Violet" because there is no "Light" version of that.

Another question, is it possible to have all four variants in the same colortemplate, ie light, dark, black, white or should I keep them separate like that. We have [four pallettes](https://github.com/jan-warchol/selenized#palette-variants) and when I tried to have anything but "light" and

[2019-08-21 14:25] lifepillar commented on #47
In Colortemplate, a `Color` definition consists of four parts, in this order: an arbitrary name, the GUI value (hexadecimal or RGB), a terminal value for terminal with at least 16 colors (typically, an integer between 0 and 255, or the special “inferred” value `~`) and a value for terminals with at most 16 colors (which may be a number between 0 and 15 or a color name). The only acceptable values

[2019-08-23 11:46] tomis9 opened #57 "Error while installing on gnome"
Hi, I am trying to install this scheme on Linux Mint 18.3 Cinnamon 18.3 64-bit and I am getting the following error message:

[code]
Please let me know if you can recreate this error message.

[2019-08-25 04:58] dngray commented on #47
wow I was not expecting a reply like that :)

I have been having a look over `colortemplate.txt` I got lost in a few spots particularly around the highlight group stuff. I have decided to just start on the [dark](https://github.com/jan-warchol/selenized/blob/master/the-values.md#selenized-dark) and [light](https://github.com/jan-warchol/selenized/blob/master/the-values.md#selenized-light) variant

[2019-08-25 08:32] jan-warchol commented on #47
I see I have a lot of catching up! Awesome :D

Before looking into details (and trying out colortemplate - thanks @lifepillar !), let me clarify some of my priorities:
- 256-color version of the scheme is the lowest priority for me, because by definition it can only be a rough approximation of the desired colors.
- support for ANSI-based scheme (i.e. the old-school way of configuring actual colors

[2019-08-25 09:10] dngray commented on #47
I guess I should leave this to you then, as you'd have a specific way you like things :grin: I was thinking you might have been too busy to do it.

[2019-08-25 10:37] jan-warchol commented on #47
@dngray @lifepillar ok, did some pondering and I think I know how to proceed.

Absolutely! From what I see, colortemplate supports both truecolor (for GUI versions of vim) and ANSI codes (for "old" approach with setting color palette inside terminal), and more. This is just what we need - thank you!

Actually there are a lot of things for which I could use a second opinion, so please do feel invit

[2019-08-25 13:07] dngray commented on #47
What you've written in https://github.com/jan-warchol/selenized/pull/58 is a good start. A general editor agnostic guideline would be good when it comes to keeping consistency across the various editors.

I have been using your draft the last few days and I do like it. I do think we could do better for Vim Suggestions https://github.com/jan-warchol/selenized/issues/33 (I consider https://github.co

[2019-08-25 14:36] dngray commented on #47
I have had a bit of a go with the initial coloring. Not sure how to set `ctermbg=8`, that's not a defined color, but it will be needed for MatchParen and Visual.

[2019-08-25 19:40] lifepillar commented on #47
How have you determined that the background is `#005f5f`? I have downloaded and built your [selenized_dark_light.colortemplate](https://github.com/dngray/vim-colortemplate/blob/pr_selenized/templates/selenized_dark_light.colortemplate):

1. neither `#005f5f` nor `#103c48` appear among the color directives in the template;
2. `Normal` is defined to have `white` foreground and `black` background (wh

[2019-08-26 14:44] dngray commented on #47
## Dark/Light Variant

https://github.com/dngray/selenized/blob/pr_vim/utils/templates/vim/selenized_dark_light.colortemplate

### Dark:

1. If I do this what about brightblack also being set to DarkGrey ie `#2d5b69`?

2. There now will also be two DarkGrey Base16 colors, ie Black and BrightBlack

3. What would I set the base16 color to for the fgcol attribute ie `#adbcbc`

### Light:

1. If I set

[2019-10-02 21:04] alerom1612 opened #60 "Error in Neovim: Cannot find color scheme 'Selenized'"
Hello! I have this error in Neovim when use "colorscheme selenized" in my init.vim (.vimrc equivalent in Neovim).

Please change in selenized.vim file:
from
`let g:colors_name = "Selenized"`
to
`let g:colors_name = "selenized"`

It solves the problem. Thank you.

[2019-10-05 15:43] renegadephysicist opened #61 "MobaXterm"
Has anyone got selenized working in MobaXterm? Ideally I’d like to create a new custom display setting and not manually overwrite one of the existing ones.

There is a mobaxterm.ini that allows you to change colors but this doesn’t seem to be documented.

[2019-10-05 16:56] renegadephysicist commented on #61
To answer my own querstion:

MobaXterm has identical config settings to [mintty](https://github.com/jan-warchol/selenized/tree/master/mintty), changing the `[colors]` in `mobaxterm.ini` in MobaXterm 12.2 had the desired effect. Note the `DefaultColorScheme=-1`, which creates a new nameless colorscheme. `DefaultColorScheme=0` changes the colors of first colorscheme.

[code]

[2019-10-21 17:16] dngray commented on #47
We really need to get on with this, it would also fix https://github.com/jan-warchol/selenized/issues/60

I have been a bit busy of late, any chance you will have a go at it @jan-warchol I have it on my to-do list but haven't gotten to it.

[2019-10-22 22:29] jan-warchol commented on #47
Hi Daniel, great to hear from you!
I've also been busy, and this week I'm preparing a lecture about git, but I
should have time next week. From what I remember the next step for me is to
check lifepillar's colortemplate on vim 8 - I think I'll manage to do that.

pon., 21 paź 2019 o 19:16 Daniel Nathan Gray <notifications@github.com>
napisał(a):

[2019-10-23 06:13] dngray commented on #47
That does seem to be the case. I was having a bit of trouble https://github.com/jan-warchol/selenized/issues/47#issuecomment-524889129 and also https://github.com/jan-warchol/selenized/issues/47#issuecomment-524629020

[2019-10-28 09:17] dngray commented on #33
I was looking at this today. and I agree it's terrible, we should select a better color than pink:

![1572254112](https://user-images.githubusercontent.com/48640805/67666455-be391000-f963-11e9-825c-e935c33514f0.png)

[2019-10-30 23:07] jan-warchol commented on #47
Okay, I managed to get colortemplate running on my system. That's not much, but it's a start.

[2019-11-05 08:31] alerom1612 commented on #60
https://github.com/jan-warchol/selenized/commit/442460cc5c7a527c68983f93a36ed653adfeea6b
Thanks.

[2019-11-05 08:31] #60 closed

[2019-11-06 07:40] jan-warchol commented on #47
Hi @dngray, over the last few days I've explored colortemplate and did some groundwork for scheme design. This week(end) I'll move on to the issues you were having. Thanks!

[2019-11-06 11:01] dngray commented on #47
I'm really quite pleased you found time. I struggled a bit it my self, but it looks very well designed. @lifepillar has done some tremendous work and it really should help us with our 4 variants. (light/dark) and (black/white).

Also not sure what the issue is (whether it was an update to the theme) or neovim, but it completely broke in nvim-qt hopefully colortheme can help us with truecolor (nvim

[2020-02-18 09:37] dngray commented on #47
Did you end up making any progress with this?

[2020-02-23 22:17] jan-warchol commented on #47
Hi Daniel,

first: sorry for late reply. I'm in the middle of changing jobs and the
process is quite stressful.
second: the answer is "sort of". I had decided that I need to have a better
understanding of how themes should be designed (i.e. token-color mappings)
before creating vim colorscheme, and I went on to explore that. It turned
into something much bigger than initially planned, and the resu

[2020-03-05 16:21] dngray commented on #47
process is quite stressful.

I can imagine...

project: https://github.com/jan-warchol/limestone-colors

That limestone theme looks quite pleasant, I will be sure to keep an eye on it!

[2020-03-06 08:37] jan-warchol opened #65 "Vim theme should avoid 256-color version"
Selenized theme for vim is meant to be used with exact selenized color palette (this requires either [truecolor-enabled terminal](https://gist.github.com/XVilka/8346728#now-supporting-true-color) or configuring ANSI color palette of one's terminal). 256-color version is only an inferior approximation.

Unfortunately, when a terminal advertises itself as supporting 256 colors (e.g. when `TERM=xterm

[2020-03-06 08:42] jan-warchol commented on #65
I have tried an approach based on what lifepillar did for solarized8 (see https://github.com/lifepillar/vim-solarized8/issues/71 and https://github.com/lifepillar/vim-solarized8/commit/de124fa1ea300b02daa0a17219a77d959b5f25d4) but the results were crazy: most of the colors worked except for bright yellow, which was still using 256-color palette.

[2020-03-06 08:43] jan-warchol commented on #65
See also discussion in #59 starting from [this comment](https://github.com/jan-warchol/selenized/pull/59#issuecomment-594374096).

[2020-03-06 08:45] jan-warchol opened #66 "Separate repo for Vim colorscheme?"
Migrating from issue #47:

[2020-03-06 20:08] #33 closed

[2020-03-06 20:08] #47 closed

[2020-03-06 20:20] jan-warchol opened #67 "Vim: style remaining default groups"
#59 implemented minimal styling necessary to use selenized with Vim, but some highlight groups remained unstyled (they are listed [at the end of the template file](https://github.com/jan-warchol/selenized/blob/faec8b8aa525027e660c052d4247bf4557c897e5/vim/_hl_groups.colortemplate#L91)).

Remember to test the results in terminal&GUI, vim&neovim.

[2020-03-06 20:29] jan-warchol opened #68 "Vim: improved, more granular styling for common languages"
As of 76b0a1529d0518c8d9a922f30ee656cc29c53f9f vim theme only specifies styling for basic token groups. More detailed styling rules would be a great improvement. Note: it may be a good idea to use [vim-polyglot](https://github.com/sheerun/vim-polyglot).

Requires #67 to be done first.

Languages that I'm likely to work on first:
* python
* shell
* vimscript

Languages that I'd like to work on but

[2020-03-07 05:02] dngray commented on #67
I might have a go at this and see how I go

[2020-03-07 12:41] jan-warchol commented on #26
Well, when I checked today I saw some activity in tilda repository, and also the config seems to work with tilda I've installed - so I'm going to merge the PR fwiw ;)

[2020-03-07 12:42] #26 closed

[2020-03-07 12:57] dngray commented on #26
Seems development on this has restarted. There wasn't any commits between [Dec 29, 2018 and Oct 27, 2019](https://github.com/lanoxx/tilda/commits/master?after=e92175ae58a2d257034a65a450c1d4208de81a77+34), but now there is regular activity.

[2020-03-07 13:04] jan-warchol commented on #61
Hello @renegadephysicist!
First, thanks for contributing :-) Second, I know that I'm very late, but would you like to help me in writing installation instructions for MobaXterm, so that I can add it to officially supported terminals?

[2020-03-07 13:17] dngray commented on #35
This bug is fixed I believe. This is using the ColorTemplate version with Alacritty that has just been merged:

![right_parentheses_main](https://user-images.githubusercontent.com/48640805/76144161-98401c80-6075-11ea-95f2-e4683ae2b2a3.png)
Cursor on the right parentheses of `main`.

![right_curly](https://user-images.githubusercontent.com/48640805/76144168-a7bf6580-6075-11ea-8734-ef31c2a1eaf0.png)

[2020-03-07 13:46] jan-warchol commented on #35
Indeed, I remember changing highlight rules for matching parenthesis at some point. @AwesomePatrol I'm closing the issue, but feel free to reopen if latest master doesn't work for you.

[2020-03-07 13:46] #35 closed

[2020-03-13 16:14] fladd opened #69 "Vim mapping colours to highlight groups"
The current mapping from the colours to their highlight groups does not seem to be optimal. I would have expected Selenized to look very similar to Solarized (just with better contrast and slightly different shades of the colours), but the syntax colours are completely shuffled around.

![image](https://user-images.githubusercontent.com/2971539/76639134-e493cc80-654d-11ea-8494-209f89a7fac1.png)
(l

[2020-03-13 20:01] jan-warchol commented on #69
Hello @fladd,

this opens a very interesting topic. To be honest, I don't particularly like Solarized's choice of token-color mappings (in particular I think using green for keywords is a bad choice). However, I'm not completely satisfied with current selenized coloring and I indeed intend to change it at least a bit.

There is also the issue with number of colors available: solarized uses 8 "acce

[2020-03-13 20:02] jan-warchol commented on #69
PS could you send me the source used to make the screenshots? I'm surprised that class name was colored green, it's supposed to be pink. I'd like to inspect it.

[2020-03-13 23:24] fladd commented on #69
@jan-warchol: Thanks for the quick response.

 I think Solarized's colour mappings are generally pretty well chosen. Something approaching this at least should be welcome by most people I think.

I map Python class names to `Type` in my .vimrc, because by default, Vim does not dissociate between class names and function names. I think this is a pretty common thing to do. Unfortunately, in Selenize

[2020-03-14 15:14] jan-warchol commented on #69
Hmm. I'm close to being convinced. Would you be able to help me with testing?

Also, @dngray, what do you think? Have you started any work on #67?

Ah, ok. Thanks for explaining.

[2020-03-14 20:04] fladd commented on #69
Sure.

[2020-03-15 06:25] dngray commented on #69
No I have not yet, been meaning to get to it this week along with `:set spell` highlights.

[2020-03-15 07:22] jan-warchol commented on #69
Okay, so I suggest the following plan:
* I'll rework highlighting of syntax groups to be more like solarized
* I like current syntax highlighting so I'll use it as a basis for another theme, most probably full-color version of [limestone](https://github.com/jan-warchol/limestone-colors) (I need to add some screenshots there...)
* unstyled elements mentioned in #67 are almost exclusively interface

[2020-03-15 08:38] jan-warchol commented on #69
@fladd Here's the repo with samples for testing; feel free to comment or submit your own samples. https://github.com/jan-warchol/highlighting-code-samples

[2020-03-15 16:00] dngray commented on #69
I'll get on that this week.

[2020-03-22 08:22] jan-warchol commented on #68
One thing I'm considering is differentiating numbers and booleans from strings in some way.

[2020-03-22 08:39] jan-warchol commented on #68
Python exceptions definitely need to be more visible. Currently they are linked to `Type` group, which is green and that doesn't have enough contrast from surrounding cyan and blue (check on [this canonical example](https://github.com/jan-warchol/highlighting-code-samples/blob/master/jan-warchol/limestone_palette_builder.py)).

[2020-03-22 13:12] jan-warchol commented on #49
Blue version looks awesome!
Closed via #50. Thanks for your patience!

[2020-03-22 13:12] #49 closed

[2020-03-22 13:56] fladd commented on #68
At first, it appeared that Selenized strives to become a simple and better implemented alternative to Solarized (which [has been criticized](https://www.vi-improved.org/loathing/) for its implementation). That impression apparently has also led to a suggestion for shipping Selenized with Vim itself (https://github.com/vim/vim/issues/1665#issuecomment-522303384). Making Selenized reliant on third-p

[2020-03-22 20:16] jan-warchol commented on #68
Good point. Let me say that I'm definitely not going to make selenized _dependent_ on vim-polyglot - what I'd like to see is selenized being _able_ to take advantage of such plugin if the user has it installed.

[2020-03-22 22:01] jan-warchol opened #74 "Should selenized color syntax elements exactly like solarized?"
Selenized builds on top of solarized by improving contrast and hues. What about token coloring choices? Should selenized mimic solarized as closely as possible, or could solarized choices be improved?

My opinion is that some choices in solarized are bad - in particular I dislike green keywords; to me they look ugly and also I think green is not strong enough for keywords:

![image](https://user-i

[2020-03-22 22:10] jan-warchol commented on #69
Closed via #70, but part of the discussion is continued in #74.

[2020-03-22 22:11] #69 closed

[2020-03-30 04:16] dngray commented on #74
Well with the `g:selenized_green_keywords=1` keyword you've achieved making both sets of people happy.

[2020-03-30 20:21] #30 closed

[2020-04-02 22:48] fladd commented on #74
Could you also update the bw version? This one seems to have entirely different colours at the moment.

[2020-04-03 07:04] jan-warchol commented on #74
@fladd Umm, what do you mean? Black/white version is supposed to look different, like this:
![image](https://user-images.githubusercontent.com/1368508/78333378-051dd800-758a-11ea-9b76-f145961dea53.png)

Or did you mean to add this comment to https://github.com/jan-warchol/selenized/pull/76?

[2020-04-03 08:19] fladd commented on #74
The colours for me are not the same as in the non-bw version. For instance, Python imports are blue all of a sudden, strings are green, functions are pink...
They should have the same colours than in the non-bw version, just with a different background, right?

[2020-04-03 20:24] jan-warchol commented on #74
Looks like the previous version, before #70 was merged. Are you sure you're using the latest code? Also, note that the directory layout changed in #73 and vim files are now in `editors/vim/` rather than just `vim/`.

Yes, almost the same. I mean, green will be a very slightly different green, but it still should be green.

[2020-04-03 21:49] fladd commented on #74
Sorry, something went wrong with updating. Now the colours seem correct.

[2020-04-04 13:55] #67 closed

[2020-04-05 13:30] dngray opened #79 "evaluate_template.py syntax errors"
Seems to be a problem with the evaluate_template.py script, it's stopping me from testing https://github.com/jan-warchol/selenized/pull/31

[code]

[2020-04-06 08:18] jan-warchol commented on #79
Thanks for checking on this. I think this branch is so old that it doesn't include porting to python 3. Also, templating variable names were updated in the meantime.
I'll rebase and push to `putty-rebased`.

[2020-04-06 09:51] dngray commented on #79
Sure, this fixed it.

[2020-04-06 09:51] #79 closed

[2020-04-29 23:43] memco commented on #68
I support deviating to enhance the experience. Personally, I'm always evaluating themes based on how they highlight punctuation like separators, string identifiers, etc. Obviously there should be a sane default baseline, but as the theme progresses adding more specialization is welcome IMO.

[2020-05-13 06:15] dylanwh opened #84 "Selenized Black for Blinksh: Colors after bright red are green"
It looks like something went wrong generating the Selenized Black colors:

[code]

I checked -dark and it seemed unaffected. I'll check -white and -light and report back here.

[2020-05-13 18:08] dylanwh commented on #84
I figured out how to run the template thing and have it fixed in my fork. It looks like that generating these is a manual process still. Would you be interested in a patch that automates updating the various files?

[2020-05-15 06:21] jan-warchol commented on #84
Good catch!

Yes, definitely! Note: `evaluate_template.py` should be able to process multiple templates in one run - just feed it with a directory and it will process all templates it finds there.

[2020-07-16 16:47] rudock1 commented on #74
Hi Mr Warchoł
I agree that it's better to swap keywords with types as you have shown in your second set of screen shots.  In a related way, on this page (https://github.com/jan-warchol/selenized/blob/master/balancing-lightness-of-colors.md) you show a sequence of screen shots using an older version of the 8-color-preview.sh test.  My question, however, is about which EDITOR and shell script COLOR

[2020-09-29 23:20] ianchanning opened #87 "Add a license"
Hi there, it seems like you're happy for everyone to use and re-use this code, could you add a licence to this repo to make it clear what the terms of re-use are?

[2020-09-29 23:40] ianchanning commented on #66
Yes please - life is so much easier if this is a separate repo. I've just created one here for myself: https://github.com/ianchanning/vim-selenized

I use [vim-plug](https://github.com/junegunn/vim-plug), but any of the plugin managers would work and then it's just adding this into my `.vimrc`:

[code]

Works beautifully.

Otherwise I don't actually have a `/colors` directory, all my colorschemes

[2020-10-02 15:56] patkru commented on #74
@rudock1 I don't think that this issue is the right place for your question, but to me it seems that on the screenshot you linked Jan used `vi` or `vim` (hint: sequence of spaces is red) and Selenized Dark theme

[2020-10-15 21:45] jsit commented on #68
I would refrain from using polyglot, as not everybody has it installed. Instead, I'd suggest loading up a bunch of filetypes in a `vim --clean` session, then do `:highlight` to see what highlight groups are defined by vanilla Vim out of the box, and target those.

[2020-10-19 12:09] alanorth commented on #57
Yes, what are people doing on modern GNOME systems?

[2020-10-28 18:45] toniz4 opened #89 "Set CursorLineNr backgroud to be the same as LineNr"
Having a different background for the line cursor looks weird for me. changing:
[code]
to
[code]
would resolve the problem.

[2020-11-01 03:29] toniz4 commented on #66
I second this, having the plugin manager handle the download is much more easier then manually cloning the repo and copying the files to the colors directory.

[2020-11-02 22:16] homocomputeris commented on #44
Still interested.

[2020-12-19 23:14] fladd opened #91 "Cursor not visible in Vim"
In the Vim theme, the cursor is not visible in the newest version.

Normal mode (not visible at all):
<img width="698" alt="image" src="https://user-images.githubusercontent.com/2971539/102701522-1c0b7400-4258-11eb-9456-fb2a42b74e40.png">

Insert mode (not visible at all):
<img width="699" alt="image" src="https://user-images.githubusercontent.com/2971539/102701531-2463af00-4258-11eb-9744-85d4babb

[2021-01-21 14:02] patkru commented on #87
this issue duplicates https://github.com/jan-warchol/selenized/issues/56

[2021-01-22 16:36] ianchanning commented on #87
Closing as indeed its a duplicate

[2021-01-22 16:36] #87 closed

[2021-01-22 16:37] ianchanning commented on #56
Yes - the problem is that without the licence it's assumed that no-one can use it

[2021-01-31 14:09] alanorth opened #93 "Selenized color schemes added to foot"
Fast and minimalistic Wayland-native terminal emulator [foot recently added Selenized color scheme](https://codeberg.org/dnkl/foot/commit/6167bf2e6100c6993ad35f3b3d76376c93c23b63). Rejoice!

[2021-02-04 12:48] judu commented on #44
br_* colors are "bright" versions of the color. (Correct me if I'm wrong) It comes from the terminal palettes having 8 base colors and 8 bright version of each color. So you have blue that is quite "dark" and br_blue that is a lighter, "brighter" version.

[2021-05-01 23:42] zhibinr opened #95 "selenized light background value in "the-values.md" is not the same with "selenized_light.py""
in `the-values.md`, Selenized light background value is

    bg_0         96   0  13

in `selenized_light.py`, it's

    background=(96,  0, 12)

[2021-05-03 03:03] dngray commented on #68
I somewhat agree with @fladd, personally I don't like to see vim depend on a whole lot of third party plugins. I try to keep what I use to a minimum, which I think is prudent for security.

[2021-05-14 05:04] dngray commented on #56
@jan-warchol could you take a look at this. Thanks.

[2021-05-25 22:55] micharbet commented on #56
@jan-warchol
In file CONTRIBUTING.md you mention that people are welcome to adjust the theme. The License would be very welcomed. E.g. I would like to include your wonderful work into my project and doing it without an explicit license is not right.

Thank you!

[2021-05-26 05:43] dngray commented on #56
I think an MIT style license is appropriate... maybe i'lll put a PR in and hope that he has time to click the "merge" button haha.

[2021-05-26 05:50] dngray commented on #56
https://github.com/jan-warchol/selenized/pull/96

[2021-08-22 06:02] #95 closed

[2022-01-27 03:45] jackwoodside opened #98 "Rofi black theme is difficult to read"
I tried the black rofi theme, and it seems very difficult to read since its black text on a dark grey background. I would've thought it would be something with a little more contrast, like the text colour for the typed area.
![test](https://user-images.githubusercontent.com/20267593/151288301-46e75484-945d-4423-aa99-ed4cc67638ef.png)

[2022-01-31 18:22] zeta709 opened #99 "Inconsistent values of bg_1 and bg_2 in the-values.md"
The values of bg_1 and bg_2 seem incorrect in `the-values.md`.
For example, comparing the values in `the-values.md` and `urxvt/selenized-dark.xdefaults`, you can see differences like:

Dark:
bg_1: #184956 vs. #174956
bg_2: #2d5b69 vs. #325b66

Light:
bg_1: #ece3cc vs. #e9e4d0
bg_2: #002b36 vs. #cfcebe

After having a look at the git history, I assume that the document shows an older version of col

[2022-04-30 14:31] dngray commented on #1
I came across this project which might be handy:

[2022-08-05 06:28] TeddyDD commented on #56
Ummm, bump @jan-warchol 😊

Seriously tho, while colors itself can't be licensed afaik, we are (legally) not allowed to do anything with code and generated configs.

[2022-09-12 20:24] #56 closed

[2022-09-24 20:02] fekir opened #102 "Links are not accessible on dark theme"
Hi, I'm interested in selenized as as an accessible color-theme.

Unfortunately blue and violet are not "performing" that well.

For example, background (bg_0) is #103c48, and blue (color used for links) is #4695f7.

According to https://webaim.org/resources/contrastchecker/, the contrast ratio is 3.91:1 (thus fails WCAG AA and WCAG AAA for normal text).

https://webaim.org/resources/contrastcheck

[2022-10-31 08:58] tebowy opened #104 "Can't install inside modern gnome-terminal"
In `terminals/gnome-terminal/src/tools.sh`

`gnomeVersion="$(expr "$(gnome-terminal --version)" : '.* \(.*[.].*[.].*\)$')"` is too clever. `gnome-terminal --version)` outputs this

[code]
and so the expr is parsed into `0.70.1 +BIDI +GNUTLS +ICU +SYSTEMD`. Then `newGnome` is set to false, and gnome2 scripts are called.

[2022-11-01 11:56] sudotac commented on #104
I believe #101 will fix this problem.

[2022-11-22 11:56] kunthar commented on #74
Have you seen this?
https://meat.io/oksolar